@define-color prim_bg #D1D1D1;
@define-color slig_bg #C1C1C1;
@define-color more_bg #B1B1B1;
@define-color scnd_bg #919191;
@define-color text_cl #252525;

/* OVERALL SETTINGS */

* {
	font-family: CaskaydiaCove Nerd Font Mono;
	font-weight: 400;
	font-size: 16px;
	color: @text_cl;
	transition: none;
	box-shadow: none;
	text-shadow: none;
}

/* MAIN BAR */

window#waybar {
	border: 4px solid @prim_bg;
	border-radius: 6px;
	background: transparent;
}

window#waybar.empty {
  border: transparent;
  background: transparent;
}

/* TOOLTIP */

tooltip {
	background: @prim_bg;
}

tooltip label {
	color: @text_cl;
}

/* MODULES */

#workspaces, #window, #clock, #tray, #battery, #pulseaudio, #backlight, #network, #cpu, #memory, #temperature {
	background-color: @prim_bg;
	margin: 12px 0px;
	padding: 0px 10px;
}

#window#waybar.empty workspaces, window#waybar.empty #window, window#waybar.empty #clock, window#waybar.empty #tray, window#waybar.empty #battery, window#waybar.empty #pulseaudio, window#waybar.empty #backlight, window#waybar.empty #network, window#waybar.empty #cpu, window#waybar.empty #memory, window#waybar.empty #temperature {
  margin-top: 8px;
  margin-bottom: 8px;
}

/* WORKSPACES */

#workspaces {
	background-color: @prim_bg;
	border-radius: 6px;
	margin: 12px 3px 12px 12px;
  padding: 0px;
}

window#waybar.empty #workspaces {
  margin: 8px 3px 8px 12px;
}

#workspaces button label {
	color: @text_cl;
	font-size: 20px;
	font-weight: 400;
	font-family: "Font Awesome 6 Pro";
}

#workspaces button {
	border: 0px;
	border-radius: 6px;
}

#workspaces button.active {
	background-color: @scnd_bg;
}

#workspaces button.urgent {
	background-color: #fdaaaa;
}

#workspaces button:hover {
	background: @scnd_bg;
}

/* OTHER MODULES */

#window {
  margin-left: 3px;
  border-radius: 6px;
}

window#waybar.empty #window {
    background-color: transparent;
}


#tray {
  border-radius: 6px;
}

#tray menuitem:hover {
  background: @scnd_bg;
	border-radius: 6px;
	margin: 0px 3px;
}

#tray menuitem:hover label {
	color: @text_cl;
}

#tray menu {
  background: @prim_bg;
  color: @text_cl;
}

#tray label {
	color: @text_cl;
}

#clock {
	background-color: @prim_bg;
	font-size: 18px;
	font-weight: 600;
	min-width: 50px;
  border-radius: 6px;
}

#pulseaudio {
	min-width: 54px;
  border-radius: 6px 0px 0px 6px;
  margin-left: 6px;
}

#backlight {
	min-width: 52px;
  border-radius: 0px 6px 6px 0px;
  background: @slig_bg;
}

#battery {
	min-width: 54px;
  margin-left: 6px;
  border-radius: 6px;
}

#network {
	min-width: 20px;
  margin-left: 6px;
  border-radius: 6px;
}

#cpu {
	min-width: 52px;
  margin-left: 6px;
  border-radius: 6px 0px 0px 6px;
}

#memory {
  background: @slig_bg;
	min-width: 50px;
}

#temperature {
	margin-right: 12px;
  border-radius: 0px 6px 6px 0px;
	min-width: 54px;
  background: @more_bg;
}

window#waybar.empty #temperature {
	margin-right: 12px;
}

