input {
    mouse {
        accel-speed 0.4
        accel-profile "flat"
    }
    warp-mouse-to-focus
}
output "DP-1" {
    mode "2560x1440@119.998"
    position x=1440 y=750
    focus-at-startup
}
output "DP-2" {
    mode "1920x1080@60.000"
    position x=4000 y=500
    transform "270"
    layout {
        default-column-width {
            proportion 1.0
        }
    }
}
output "HDMI-A-1" {
    mode "2560x1440@59.951"
    position x=0 y=0
    transform "90"
}
layout {
    gaps 60
    always-center-single-column
    preset-column-widths {
        proportion 0.5
    }
    default-column-width {
        proportion 0.5
    }
    focus-ring {
        off
    }
    border {
        width 4
        active-color "#84ab89"
        inactive-color "#000000"
    }
    struts {
        left 0
        right 0
        top -40
        bottom 0
    }
}
hotkey-overlay {
    skip-at-startup
}
prefer-no-csd
screenshot-path "~/screenshots/%Y-%m-%d %H-%M-%S.png"
animations {
    slowdown 1.5
}
window-rule {
    geometry-corner-radius 4
    clip-to-geometry true
    shadow {
        on
        offset x=25 y=25
        softness 0
        spread 0
        color "#000000"
        inactive-color "#000000"
    }
}
binds {
    Mod+Return {
        spawn "kitty"
    }
    Mod+G {
        spawn "fuzzel"
    }
    Mod+B {
        spawn "google-chrome-stable"
    }
    Mod+O repeat=false {
        toggle-overview
    }
    Mod+W repeat=false {
        close-window
    }
    Mod+H {
        focus-column-left
    }
    Mod+J {
        focus-window-or-workspace-down
    }
    Mod+K {
        focus-window-or-workspace-up
    }
    Mod+L {
        focus-column-right
    }
    Alt+H {
        focus-monitor-left
    }
    Alt+L {
        focus-monitor-right
    }
    Mod+Shift+H {
        move-column-left
    }
    Mod+Shift+J {
        move-window-down
    }
    Mod+Shift+K {
        move-window-up
    }
    Mod+Shift+L {
        move-column-right
    }
    Mod+1 {
        focus-workspace 1
    }
    Mod+2 {
        focus-workspace 2
    }
    Mod+3 {
        focus-workspace 3
    }
    Mod+4 {
        focus-workspace 4
    }
    Mod+5 {
        focus-workspace 5
    }
    Alt+1 {
        focus-monitor "HDMI-A-1"
    }
    Alt+2 {
        focus-monitor "DP-1"
    }
    Alt+3 {
        focus-monitor "DP-2"
    }
    Mod+Shift+1 {
        move-column-to-workspace 1
    }
    Mod+Shift+2 {
        move-column-to-workspace 2
    }
    Mod+Shift+3 {
        move-column-to-workspace 3
    }
    Mod+Shift+4 {
        move-column-to-workspace 4
    }
    Mod+Shift+5 {
        move-column-to-workspace 5
    }
    Mod+Comma {
        consume-or-expel-window-left
    }
    Mod+Period {
        consume-or-expel-window-right
    }
    Alt+Shift+H {
        move-window-to-monitor-left
    }
    Alt+Shift+L {
        move-window-to-monitor-right
    }
    Mod+U {
        move-workspace-up
    }
    Mod+D {
        move-workspace-down
    }
    Mod+R {
        switch-preset-column-width
    }
    Mod+F {
        maximize-column
    }
    Mod+Shift+F {
        fullscreen-window
    }
    Mod+C {
        center-column
    }
    Mod+V {
        toggle-window-floating
    }
    Mod+Shift+V {
        switch-focus-between-floating-and-tiling
    }
    Mod+X {
        screenshot
    }
    Mod+Shift+Q {
        quit
    }
    Ctrl+Alt+Delete {
        quit
    }
    Mod+Shift+P {
        power-off-monitors
    }
    Mod+Alt+1 {
        spawn "sh" "-c" "$HOME/scripts/set-wallpapers"
    }
}
debug {
    honor-xdg-activation-with-invalid-serial
}
overview {
    zoom 0.5
    backdrop-color "#131217"
}
spawn-at-startup "awww-daemon"

