snippet header
	#import "template.typ": *
	#show: template.with(
		title: "${1:Title}",
		subtitle: "${2:Subtitle}"
	)

snippet example
	#example(
		title: "${1:Example}"
	)[
		${2}
	]

snippet define
	#define(
		title: "${1:Term}"
	)[
		${2}
	]

snippet note
	#note(
		title: "${1:Note}"
	)[
		${2}
	]
